.card {
  border: none;
  border-radius: 10px;
}

.card-header {
  border-radius: 10px 10px 0 0;
}

.fa-3x {
  font-size: 3rem;
}

.text-center h3 {
  margin-bottom: 0.5rem;
}

.text-center p {
  margin-bottom: 0;
}
